<nav class="navbar navbar-expand-md bg-light navbar-light">
        <div class="container">
            <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
                <ul class="navbar-nav mr-auto">
                    <li class='nav-item @(Context.Request.Path == "/" ? "active" : "")'>
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/orientation" ? "active" : "")'>
                        <a class="nav-link" href="/orientation">Orientation</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/training" ? "active" : "")'>
                        <a class="nav-link" href="/training">Training</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/hr" ? "active" : "")'>
                        <a class="nav-link" href="/hr">Human Resources</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/accounting" ? "active" : "")'>
                        <a class="nav-link" href="/accounting">Accounting</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/is" ? "active" : "")'>
                        <a class="nav-link" href="/is">Information Services</a>
                    </li>
                    <li class='nav-item @(Context.Request.Path == "/security" ? "active" : "")'>
                        <a class="nav-link" href="/security">Security</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li>
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
